 {% assign author = site.authors[post.author] %}
 	<div class="listing-item">
        	<article class="geodir-category-listing fl-wrap">
	
		{% if post.image %}
        <div class="geodir-category-img">
		
		{% if site.lazyimages == "enabled" %}
		<a href="{{ site.baseurl }}{{ post.url }}">
	<img  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" 
	     data-src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}" alt="{{ post.title }}"">
	     </a>
	<div class="overlay"></div>
        </div>
			
		{% else %}
	<a href="{{ site.baseurl }}{{ post.url }}">
       	<img src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}" alt="{{ post.title }}"">
	</a>
        <div class="overlay"></div>
        </div>
		
		{% endif %}
		{% endif %}
       	<div class="geodir-category-content fl-wrap">
        <a class="listing-geodir-category">{{ post.date | date_to_string }}</a>
		
		{% if post.author %}
		{% if author.avatar %}
        <!--<div class="listing-avatar"><a href="author-single.html">
		<img src="{{site.baseurl}}/{{ author.avatar }}" alt="{{ author.display_name }}"></a>
        	<span class="avatar-tooltip">Added By  <strong>Lisa Smith</strong></span>
        </div>-->
		
		{% else %}
	<!--<div class="listing-avatar">
		<a href="author-single.html"><img src="{{ author.gravatar }}" alt="{{ author.display_name }}"></a>
                <span class="avatar-tooltip">Added By  <strong>{{ author.display_name }}</strong></span>
        </div>-->
		
		{% endif %}
		{% endif %}
        <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title | strip_html | truncatewords:7  }}</a></h3>
        <p>{{ post.excerpt | strip_html | truncatewords:15 }}</p>
        <div class="geodir-category-options fl-wrap">  
        <a href="{{ site.baseurl }}{{ post.url }}" class="btn transparent-btn float-btn">Read more<i class="fa fa-eye"></i></a>

</div>
</div>
</article>
</div>
