<!DOCTYPE HTML>
<html lang="en">
    <head>
        <!--=============== basic  ===============-->
        <meta charset="UTF-8">
        <title>packmyload.com - Moving Blog</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="robots" content="index, follow"/>
        <meta name="keywords" content=""/>
        <meta name="description" content=""/>
        <!--=============== css  ===============--> 
		
        <link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/assets/new/css/reset.css">
        <link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/assets/new/css/plugins.css">
        <link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/assets/new/css/style.css">
        <link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/assets/new/css/color.css">
        <!--=============== favicons ===============-->
        <link rel="shortcut icon" href="{{ site.baseurl }}/assets/new/images/favicon.ico">
    </head>
    <body>
        <!--loader-->
        <div class="loader-wrap">
            <div class="pin"></div>
            <div class="pulse"></div>
        </div>
        <!--loader end-->
        <!-- Main  -->
        <div id="main">
            <!-- header-->
            <header th:fragment="header" class="main-header dark-header fs-header sticky">
            <div class="header-inner">
                <div class="logo-holder">
                    <a href="/">
            <img src="https://res.cloudinary.com/packmyload/image/upload/v1545994681/PML1x.png" style="height: 50px;"/>

                    </a>
                </div>


                <a href="/book" class="add-list">Book Now <span><i
                        class="fa fa-plus"></i></span></a>
                <div class="show-reg-form" >
                <a href="tel:07007225776" style="color: white;"><i class="fa fa-phone"></i>Call Us </a>
                    
                </div>
                

                <!-- nav-button-wrap-->
                <div class="nav-button-wrap color-bg">
                    <div class="nav-button">
                        <span></span><span></span><span></span>
                    </div>
                </div>
                <!-- nav-button-wrap end-->
                <!--  navigation -->
                <div class="nav-holder main-menu">
                    <nav>
                        <ul>
                            <li><a href="/services">Services <i
                                    class="fa fa-caret-down"></i></a>
                                <ul>
                                    <li><a href="/home-moves">Home Moves</a></li>
                                    <li><a href="/office-moves">Office/Business Moving</a></li>
                                    <li><a href="/store-delivery">Store delivery/small
                                            moves</a></li>
                                    <li><a href="/student-moves">Student moves</a></li>
                                    <li><a href="/Junk-moves">Junk removals</a></li>
                                    <li><a href="/cleaning">cleaning services</a></li>
                                    <li><a href="/international-relocations">International
                                            relocation</a></li>
                                    <li><a href="/wedding-handling">Wedding gift handling</a></li>
                                    <li><a href="/storage">Secure Storage</a></li>
                                </ul></li>
                                
                                <li><a href="/gallery">Gallery </a><li>

                            <li><a href="#">Partner<i class="fa fa-caret-down"></i></a>
                                <ul>
                                    <li><a href="/partner">Partner With Us</a></li>
                                    <li><a href="/become_a_packer">Become a Pacman</a></li>
                                </ul></li>
                            <li><a href="/book">Get an Estimate</a></li>

                        </ul>
                    </nav>
                </div>
                <!-- navigation  end -->
            </div>
            
            

        </header><!--  header end -->   
            <!-- wrapper -->    
            <div id="wrapper">
                <div class="content">
				
				  {{ content }}
                    <!-- Map -->
                  
                    <!-- Map end -->   
                    <!-- section -->   
                    
                    <!-- section end -->
                    <div class="limit-box fl-wrap"></div>
                    <!--section -->  
                    
                    <!-- section end -->
                </div>
                <!-- content end -->
            </div>
            <!-- wrapper end -->
            <!--footer -->
            
            <!--footer end  -->
            
           
            <a class="to-top"><i class="fa fa-angle-up"></i></a>
        </div>
        <!-- Main end -->
        <!--=============== scripts  ===============-->
        <script type="text/javascript" src="{{ site.baseurl }}/assets/new/js/jquery.min.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}/assets/new/js/plugins.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}/assets/new/js/scripts.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}/assets/new/js/map_infobox.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}/assets/new/js/markerclusterer.js"></script>  
        <script type="text/javascript" src="{{ site.baseurl }}/assets/new/js/maps.js"></script>
    </body>
</html>